.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.main {
    background-repeat: black;
}

.contenido {
    border: 1px solid black;
    padding: 50px;
    background-color: #ebebeb;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 10px rgb(25,25,25);
}

.contenido:hover {
    transition: 2s;
}

.contenido select {
    background-color: rgb(25,25,25);
    color: white;
    width: 300px;
    text-align: center;
    border-radius: 20px;
}

.contenido label {
    margin-bottom: 10px;
}

.contenido input {
    width: 300px;
    height: 25px;
}
.contenido input, textarea {
    color: white;
    background-color: rgb(25,25,25);
    border-radius: 5px;
    /* height: 20px; */
    border: solid 1px;
}

.pie { 
    text-align: center;
}

#boton-contacto {
    background-color: rgb(25,25,25);
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    border: 0;
}

#boton-contacto:hover {
    width: 100px;
    font-size: 15px;
    transition: 1s;
    background: linear-gradient(360deg, #00fefb, rgb(25,25,25)) ;
    cursor: cell;
}