@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Roboto+Slab:wght@300&family=Rubik:wght@300&family=Skranji&display=swap');

* {
    font-family: Rubik, 'Skranji';
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.services-item {
    width: 80%;
    margin: 20px 0;
    border: 1px solid black;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 10px;
}

.services-name {
    font-size: 28px;
    margin-bottom: 10px;
}

.services-description {
    font-size: 18px;
    margin-bottom: 15px;
}

.services-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.boton-servicio {
    background-color: black;
    color: white;
    border-radius: 6px;
    border: solid 0px;
    height: 40px;
}

.boton-servicio:hover {
    transition: 1s;
    color: #169EF2;
    font-size: 20px;
    cursor: pointer;
}

.h3-subtitulo, .p-texto {
    text-align: center;
}