.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.color{
    border:1px solid black;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 10px;
}

.boton-servicio {
    background-color: black;
    color: white;
    border-radius: 6px;
    border: solid 0px;
    height: 40px;
}

.boton-servicio:hover {
    transition: 1s;
    color: green
}

.h3-subtitulo, .p-texto{
    text-align: center;
}

