#titulo-contenido {
    color: #333;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

#wrapper {
    margin-bottom: 100px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: #f8f8f8;
}

.contenido {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.article-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

article {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 15px 0;
    padding: 15px;
    background: linear-gradient(180deg, #f5f5f5, #fff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

article p {
    text-align: left;
}

article h2 {
    margin-top: 10px;
    text-align: center;

}

/* En sobre-nosotros.css */
@media screen and (max-width: 600px) {
    #titulo-contenido {
        font-size: 1.8rem;
    }

    .contenido {
        margin-top: 10px;
    }

    .article-wrapper {
        max-width: 100%;
    }

    article {
        margin: 10px 0;
        padding: 10px;
    }

    #wrapper {
        margin-bottom: 50px;
    }
}
