body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    /* background: url('tu-imagen-de-fondo.jpg') no-repeat center center fixed;  */
    background-size: cover;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:hover {
  background-color: #00ffff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #00ffff;
  border-radius: 20px;
}
.contenido img {
  animation-name: hoverAnimacion;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes hoverAnimacion {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.navbar li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  border-radius: 10px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #ddd;
  
}

.navbar li a.active {
  color: white;
  background-color: #00fefb;
  /* box-shadow: 0px 0px 1px 1px black; */
}

.navbar li a.active:hover, .navbar li a:hover {
  transition: 1s;
  font-size: 20px;
}

.navbar .dropdown {
  position: relative;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.description {
    font-size: 1.2em;
}

.pie {
  color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background: linear-gradient(180deg, #00fefb, white);
    box-shadow: 0px 0px 15px 10px #00fefb;
    /* min-width: 100px; */
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-bottom: 0; */
}
